@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #624bb7;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #624bb7;
    border-bottom: 3px solid #624bb7;
}

@media (max-width: 995px) {
    nav {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #624bb7;
        border-bottom: 3px solid #624bb7;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    }
    nav.active {
        display: block;
    }
    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #624bb7;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home1 .home2 h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span {
    color: #624bb7;
}

.home2 h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home2 p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #624bb7;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}

.sm {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #624bb7;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #624bb7;
    transition: 0.3s ease;
    cursor: pointer;
}

.sm:hover {
    transform: scale3d(1.03);
    background-color: #624bb7;
    color: black;
    box-shadow: 0 0 25px #624bb7;
}

.typing-text span::before {
    content: "software Developer";
    color: #624bb7;
    animation: words 20s infinite;
}

@keyframes cursor {
    to {
        border-left: 3px solid #624bb7;
    }
}

.sup-container {
    display: flex;
}

.conternai {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 60px;
    margin-bottom: 2rem;
    /* Adjust margin to create space between inputs */
}

input[type='text'],
input[type='number'],
button {
    -webkit-appearance: none;
    /* For WebKit browsers (Chrome, Safari) */
    -moz-appearance: none;
    /* For Firefox */
    appearance: none;
    /* For modern browsers */
}

input[type='text'] {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
    height: 50px;
}

input[type='number'] {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
    height: 50px;
}

input[type='text']:focus,
input[type='number']:focus {
    outline: none;
    border: 2px solid #624bb7;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn {
    display: flex;
    justify-content: center;
}

.result {
    font-size: xx-large;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="number"] {
    background: white;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    font-size: 1.6rem;
    height: 50px;
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #161616;
    position: absolute;
    z-index: 1000;
    width: 100%;
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#suggestions li {
    padding: 10px;
    color: black;
    cursor: pointer;
    font-size: 1.6rem;
}

#suggestions li:hover {
    background-color: #624bb7;
    color: black;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border: 2px solid #624bb7;
}